<launch>
    <arg name="drone_id" default="cf" />
    <arg name="uri" default="radio://0/80/2M" />
   
   
   
    <include file="$(find crazyflie_ros)/launch/driver.launch">
        <arg name="uri" value="$(arg uri)" />
        <arg name="drone_id" value="$(arg drone_id)" />
    </include>

    <include file="$(find crazyflie_ros)/launch/controller.launch">
        <arg name="drone_id" value="$(arg drone_id)" />
    </include>


    


</launch>